* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 230px;
}

.content h1 {
    width: 525px;
    font-style: Bold;
    font-size: 65px;
    font-weight: 700;
    color: var(--Dark 01, rgba(21, 20, 20, 1));
    margin: 216px 0 24px;
}

.content p {
    width: 494px;
    color: var(--Dark 02, rgba(68, 67, 67, 1));
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.content .btn {
    width: 160px;
    padding: 21px 26px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    background-color: #F15B22;
    border: none;

}